In [3]:
import pandas as pd

In [4]:
df_cat = pd.read_csv('GBT35648-201-en.csv')
df = pd.read_csv('ShanghaiPOI2017-clean.csv')

In [5]:
df.head()

   Unnamed: 0   ID        GPSX       GPSY    GBCODE
0           0  1.0  121.296368  31.188324  990000.0
1           1  1.0  121.473360  31.228923  990000.0
2           2  1.0  121.399378  31.205028  990000.0
3           3  1.0  121.529628  31.271063  990000.0
4           4  2.0  121.169185  31.282332  990000.0

In [6]:
df_cat.head()

     code category         translation
0  110000       餐饮          Restaurant
1  110100      中餐厅  Chinese Restaurant
2  110200      西餐厅  Western Restaurant
3  110300      快餐厅           Snack Bar
4  110400     自助餐厅           Cafeteria

In [7]:
code = df_cat[(df_cat['translation'] == 'Snack Bar') & (df_cat['category'] == '小吃店')]['code']
type(code)

pandas.core.series.Series

In [8]:
df_mini = df[df['GBCODE'] == code]
df_mini.head()

ValueError: Can only compare identically-labeled Series objects